<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pessoa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <main class="main-content">
        <h1>Cadastrar Pessoa</h1>
        <form class="form" th:action="@{/pessoas/cadastrar}" th:object="${pessoa}" method="post">
            <div>
                <label>Nome:</label>
                <input class="inputs" type="text" th:field="*{nome}" required />
            </div>
            <div>
                <label>Idade:</label>
                <input class="inputs" type="number" th:field="*{idade}" required />
            </div>
            <button type="submit" class="botao">Salvar</button>
        </form>
    </main>
</body>

</html>