<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <main class="main-content">
        <h1>Cadastrar Produto para <span th:text="${pessoa.nome}"></span></h1>
        <form class="form" th:action="@{/produtos/cadastrar/{id}(id=${pessoa.id})}" th:object="${produto}" method="post">
            <div>
                <label>Nome:</label>
                <input class="inputs" type="text" th:field="*{nome}" required />
            </div>
            <div>
                <label>Quantidade:</label>
                <input class="inputs" type="number" th:field="*{quantidade}" required />
            </div>
            <div>
                <label>Valor:</label>
                <input class="inputs" type="number" th:field="*{valor}" step="0.01" required />
            </div>
            <button type="submit" class="botao">Salvar</button>
        </form>
    </main>
</body>
</html>
